@using Norris.Data.Models.DTO;
@model FriendsPartialViewModel


@if (Model.UserGames.Any())
{
    @foreach (var game in Model.UserGames)
    {
        <a href='@Url.Action("Index", "Game", new { gameId = @game.GameID })' class="playGame">
            @if (Model.ActiveGame == game.GameID)
            {
                <li class="list-group-item playGame activeGame" id="list-group-item-override">
                    <div hidden id="activeGame">@game.GameID</div>
                    <div class="flex" id="games-flex">
                        <div class="games-left active-left">
                            @if (game.PlayerColor == 'w')
                            {
                                <img src="~/images/pieces/wn.png" style="width:17px;" />
                                <span>vs.</span>
                                <img src="~/images/pieces/bn.png" style="width:17px;" />
                                @game.OpponentName
                            }
                            else
                            {
                                <img src="~/images/pieces/bn.png" style="width:17px;" />
                                <span>vs.</span>
                                <img src="~/images/pieces/wn.png" style="width:17px;" />
                                @game.OpponentName
                            }
                        </div>
                        <div class="games-left">
                            <img src="~/images/move-icon.png" style="height:17px;" />@game.MovesCounter
                        </div>
                        <div class="games-right">
                            @if (game.IsMyTurn)
                            {
                                <span class="yTurn">Your turn</span>
                            }
                            else
                            {
                                <span class="oTurn">Opponents turn</span>
                            }
                        </div>
                        <div></div>
                    </div>
                </li>
            }
            else
            {
                <li class="list-group-item playGame" id="list-group-item-override">
                    <div class="flex" id="games-flex">
                        <div class="games-left">
                            @if (game.PlayerColor == 'w')
                            {
                                <img src="~/images/pieces/wn.png" style="width:17px;" />
                                <span>vs.</span>
                                <img src="~/images/pieces/bn.png" style="width:17px;" />
                                @game.OpponentName
                            }
                            else
                            {
                                <img src="~/images/pieces/bn.png" style="width:17px;" />
                                <span>vs.</span>
                                <img src="~/images/pieces/wn.png" style="width:17px;" />
                                @game.OpponentName
                            }
                        </div>
                        <div class="games-left">
                            <img src="~/images/move-icon.png" style="height:17px;" />@game.MovesCounter
                        </div>
                        <div class="games-right">
                            @if (game.IsMyTurn)
                            {
                                <span class="yTurn">Your turn</span>
                            }
                            else
                            {
                                <span class="oTurn">Opponents turn</span>
                            }
                        </div>
                    </div>
                </li>
            }

        </a>
    }      
}
else
{
    <li class="list-group-item" id="list-group-item-override">No active games</li>
}