@using Norris.Data.Data.Entities
@using Norris.Data.Models

@model FriendsPartialViewModel


<div>
    <div class="panel-group" id="panel-group-override" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <a href="#games" class="" role="button" data-toggle="collapse"
                   aria-expanded="true" aria-controls="games" onclick="changeIcon('icon1')">
                    Games <i id="icon1" class="glyphicon glyphicon-minus" aria-hidden="true"></i>
                </a>
            </div>
            <div class="panel-collapse collapse in" role="tabpanel" id="games" aria-labelledby="games" aria-expanded="true">
                <ul class="list-group games">
                    @if (Model.UserGames.Any())
                    {
                        foreach (var game in Model.UserGames)
                        {
                        <li class="list-group-item">
                            vs. @game.OpponentName.

                            @if (game.IsMyTurn)
                            {
                                <a href='@Url.Action("Index", "Game", new { gameId = @game.GameID })' class="btn btn-success btn-sm playGameBtn">Play</a>
                            }
                            else
                            {
                                <button class="btn btn-danger btn-sm playGameBtn">Play</button>
                            }
                        </li>
                        }      
                    }
                    else
                    {
                        //no friends
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="friends">
        <div class="panel-group" id="panel-group-override" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <a href="#friendsOnline" class="" role="button" data-toggle="collapse"
                       aria-expanded="true" aria-controls="friendsOnline" onclick="changeIcon('icon2')">
                        Online <i id="icon2" class="glyphicon glyphicon-minus" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="panel-collapse collapse in" role="tabpanel" id="friendsOnline" aria-labelledby="friendsOnline" aria-expanded="true">
                    <ul class="list-group">
                        @if (Model.UserFriends.OnlineFriends.Any())
                        {
                            foreach (var user in Model.UserFriends.OnlineFriends)
                            {
                                <li class="list-group-item"> @user.UserName </li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item">No active friends</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <a href="#friendsOffline" class="" role="button" data-toggle="collapse"
                       aria-expanded="true" aria-controls="friendsOffline" onclick="changeIcon('icon3')">
                        Offline
                        <i id="icon3" class="glyphicon glyphicon-minus" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="panel-collapse collapse in" role="tabpanel" id="friendsOffline" aria-labelledby="friendsOffline" aria-expanded="true">
                    <ul class="list-group">
                        @if (Model.UserFriends.OnlineFriends.Any())
                        {
                            foreach (var user in Model.UserFriends.OnlineFriends)
                            {
                                <li class="list-group-item disabled"> @user.UserName </li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item disabled">No active friends</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>