@using Norris.Data.Data.Entities
@using Norris.Data.Models

@model FriendsPartialViewModel


<div>
    <ul class="list-group games">
        <li class="list-group-item">Games</li>
        @if (Model.UserGames.Any())
        {

            foreach (var game in Model.UserGames)
            {
                <li class="list-group-item disabled"><a href='@Url.Action("Index", "Game", new { gameId = @game.GameID })'>vs. @game.OpponentName.</a> Your turn: @game.IsMyTurn.ToString()</li>
            }
        }
        else
        {
            //no friends
        }
    </ul>
    <div class="friends">
        Friends
        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <a href="#friendsOnline" class="" role="button" data-toggle="collapse"
                       aria-expanded="true" aria-controls="friendsOnline" onclick="changeIcon('icon1')">
                        Online <i id="icon1" class="glyphicon glyphicon-minus" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="panel-collapse collapse in" role="tabpanel" id="friendsOnline" aria-labelledby="friendsOnline" aria-expanded="true">
                    <ul class="list-group">
                        @if (Model.UserFriends.OnlineFriends.Any())
                        {
                            foreach (var user in Model.UserFriends.OnlineFriends)
                            {
                                <li class="list-group-item"> @user.UserName </li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item">No active friends</li>
                        }
                    </ul>
                </div>
            </div>
        </div>


        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <a href="#friendsOffline" class="" role="button" data-toggle="collapse"
                       aria-expanded="true" aria-controls="friendsOffline" onclick="changeIcon('icon2')">
                        Offline
                        <i id="icon2" class="glyphicon glyphicon-minus" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="panel-collapse collapse in" role="tabpanel" id="friendsOffline" aria-labelledby="friendsOffline" aria-expanded="true">
                    <ul class="list-group">
                        @if (Model.UserFriends.OnlineFriends.Any())
                        {
                            foreach (var user in Model.UserFriends.OnlineFriends)
                            {
                                <li class="list-group-item disabled"> @user.UserName </li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item disabled">No active friends</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>