@using Norris.Data.Models.DTO;
@model ArchivedGamesViewModel
@{
    ViewData["Title"] = "Archived games";
}
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="row">
    <div class="col-sm-7">
        <div class="panel panel-default" id="panel-override">
            <div class="panel-heading" id="panel-heading-override">
                <span id="title">
                    Archived Game vs @Model.ArchivedGames.Where(g => g.GameID.Equals(@Model.Board.GameId)).FirstOrDefault().OpponentName
                </span>
            </div>
            <div class="panel-body" id="panel-body-override" style="padding:0;">
                @await Html.PartialAsync("_ChessboardPartial", Model.Board)
                @if (@Model.Board.PlayerColor == Model.Board.GameState.ActivePlayerColor)
                {
                    <div class="alert alert-danger" role="alert" id="banner"><strong>You lost</strong></div>
                }
                else
                {
                    <div class="alert alert-success" role="alert" id="banner"><strong>You won</strong></div>
                }
            </div>
        </div>


        <div class="panel panel-default" id="panel-override">
            <div class="panel-heading" id="panel-heading-override">
                <span id="title">
                    Archived Games
                </span>
            </div>

            @foreach (var game in Model.ArchivedGames)
            {
                <a href='@Url.Action("ArchivedGames", "Manage", new { gameId = @game.GameID })' class="playGame">

                    <li class="list-group-item playGame" id="list-group-item-override">
                        <div class="flex" id="games-flex">
                            <div class="games-left">
                                Game vs. @game.OpponentName
                            </div>
                            <div class="games-right">
                                @if (@game.AmIWinner)
                                {
                                    <span class="yWon">You won!</span>

                                }
                                else
                                {
                                    <span class="oWon">You lost...</span>
                                }
                            </div>
                        </div>

                    </li>
                </a>
            }
        </div>
    </div>
    <div class="col-sm-4 col-lg-5" id="sidebar">

        <div class="panel-group" id="panel-group-override" role="tablist">
            <div class="panel panel-default" id="panel-override">
                <a href="#games" class="" role="button" data-toggle="collapse"
                   aria-expanded="true" aria-controls="games" onclick="changeIcon('icon4'); activeGamesOpen = !activeGamesOpen" id="nav-txt-override">
                    <div class="panel-heading" id="panel-heading-override" role="tab">
                        <div class="flex" id="fp-flex">
                            <div class="FPheadingLeft">
                                Games
                            </div>
                            <div class="FPheadingRight">
                                <i id="icon4" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="panel-collapse collapse in" role="tabpanel" id="games" aria-labelledby="games" aria-expanded="true">
                    <ul class="list-group games" id="activegames">
                        ...
                    </ul>
                </div>
            </div>
            <div class="panel panel-default" id="panel-override">
                <a href="#friendsOnline" class="" role="button" data-toggle="collapse"
                   aria-expanded="true" aria-controls="friendsOnline" onclick="changeIcon('icon2'); onlineFriendsOpen=!onlineFriendsOpen" id="nav-txt-override">
                    <div class="panel-heading" id="panel-heading-override" role="tab">
                        <div class="flex" id="fp-flex">
                            <div class="FPheadingLeft">
                                Friends online
                            </div>
                            <div class="FPheadingRight">
                                <i id="icon2" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="panel-collapse collapse in" role="tabpanel" id="friendsOnline" aria-labelledby="friendsOnline" aria-expanded="true">
                    <ul class="list-group" id="online-friends">
                        ...
                    </ul>
                </div>
            </div>
            <div class="panel panel-default" id="panel-override">
                <a href="#friendsOffline" class="" role="button" data-toggle="collapse"
                   aria-expanded="true" aria-controls="friendsOffline" onclick="changeIcon('icon3'); offlineFriendsOpen = !offlineFriendsOpen" id="nav-txt-override">
                    <div class="panel-heading" id="panel-heading-override" role="tab">
                        <div class="flex" id="fp-flex">
                            <div class="FPheadingLeft">
                                Friends offline
                            </div>
                            <div class="FPheadingRight">
                                <i id="icon3" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="panel-collapse collapse in" role="tabpanel" id="friendsOffline" aria-labelledby="friendsOffline" aria-expanded="true">
                    <ul class="list-group offline-friends" id="list-group-override">
                        ...
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>