@using Norris.Data.Models.DTO;
@model IEnumerable<UserActiveGamesDTO>

@{
    ViewData["Title"] = "Archived Games";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
  <div class="col-sm-8">
    <span id="searchResults">
      <div class="table-responsive">
          <table class="table table-bordered table-striped">
              @foreach (var game in Model)
              {
                <li class="list-group-item">
                    vs. @game.OpponentName

                    @if (game.IsMyTurn)
                    {
                        <a href='@Url.Action("Index", "Game", new { gameId = @game.GameID })' class="btn btn-success btn-sm playGameBtn">View</a>
                    }
                    else
                    {
                        <a href='@Url.Action("Index", "Game", new { gameId = @game.GameID })' class="btn btn-danger btn-sm playGameBtn">View</a>
                    }
                </li>
              }
          </table>
      </div>
    </span>
  </div>
  <div class="col-sm-3" id="sidebar">
  </div>
</div>