@using Norris.Data.Data.Entities
@using Norris.Data.Models
@model LobbyAndFriendsViewModel

<environment include="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>



<div class="row" id="siteGrid">
    <div class="col-lg-1"></div>
    <div class="col-sm-9 col-lg-7">
        @{
            ViewData["Title"] = "Lobby";
        }

        <div class="panel panel-default" id="panel-override">
            <div class="panel-heading" id="panel-heading-override">
                <span id="nav-txt-override">@ViewData["Title"]</span>
            </div>
            <div class="panel-body" id="panel-body-override">
                <div class="table-responsive">
                    <table class="table" id="table-override">
                        <thead>
                            <tr id="tRow">
                                <th class="col-sm-9" id="tHead">Users in lobby</th>
                                <th class="col-sm-3" id="tHead">
                                    @if (@Model.IsInLobby)
                                    {
                                    <a class="btn btn-danger btn-sm btn-block" href="@Url.Action("LeaveLobby", "Home")">Leave Lobby</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success btn-sm btn-block" href="@Url.Action("JoinLobby", "Home")">Join Lobby</a>
                                    }
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(@Model.IsInLobby)
                            {
                            <tr class="tRow">
                                <td id="tCell">You are registered in the lobby</td>
                                <td id="tCell"></td>
                            </tr>

                            }
                            
                            @foreach (var item in Model.CurrentLobbyUsers)
                            {
                                <tr class="tRow">
                                    <td id="tCell">@item.UserName</td>
                                    <td id="tCell">
                                        <a href="@Url.Action("JoinGame", "Home", new { opponentId = item.Id})" class="btn btn-primary btn-sm btn-block">
                                            Join game
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3" id="sidebar">@await Html.PartialAsync("_FriendsPartial", Model.Friends)</div>
    <div class="col-lg-1"></div>
</div>


